<h1>Lets create the Tickets that should be add to the system</h1>


<% if @ticket.errors.any? %>
  <div class="alert alert-danger">
    <% @ticket.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= form_for(@ticket, url: project_tickets_path) do |f| %>

    <div class="mb-3">
       <%= f.label :name %><br />
       <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control" %>
    </div>

    <div class="mb-3">
     <%= f.label :description %><br/>
     <%= f.text_field :description, class:"form-control"  %>
    </div>

    <div class="mb-3">
     <%= f.label :severity %><br/>
     <%= f.text_field :severity, class:"form-control"  %>
    </div>

    <div class="mb-3">
     <%= f.label :priority %><br/>
     <%= f.text_field :priority, class:"form-control"  %>
    </div>

    <div class="mb-3">
      <%= f.label :date %>
      <%= f.date_field :date %>
    </div>


    <div class="mb-3">
      <%= f.label :engineer_id %><br/>
      <%= f.collection_select :engineer_id, Engineer.all, :id, :name, prompt: true, class:"form-select form-select-lg mb-3" %>
    </div>

 <br><br>

  <div>
   <%= f.submit "Create", class:"btn btn-primary"%>
  </div>

<% end %>
